## ---------------------------
##
## Script name: 
##
## Purpose of script: 
##
## Author: Szi Kay Leung
##
## Date Created: 02-08-2022
##
## Email: sl693@exeter.ac.uk
##
## ---------------------------
##
## Notes:
##   
##   
##  
## ---------------------------

export NAME=ERCCT
export WKD_ROOT=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/rTg4510/A_IsoSeq_Whole/ERCC_TAMA
export REFINE_FASTA=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/rTg4510/A_IsoSeq_Whole/IsoSeq/REFINE/fasta

export GENOME_FASTA=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/references/ERCC/ERCC92.fa
export SOFTWAREPATH=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/software
export TAMA_SC=${SOFTWAREPATH}/tama/tama_collapse.py


# sqanti3
CUPCAKE=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/software/Post_Isoseq3/cDNA_Cupcake
SQANTI2_dir=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/software/Post_Isoseq3/SQANTI2
REFERENCE_ERCC=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/references/ERCC
ANNOTATION=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/software/Post_Isoseq3/cDNA_Cupcake/annotation
SEQUENCE=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/software/Post_Isoseq3/cDNA_Cupcake/sequence
export PYTHONPATH=$PYTHONPATH:$SEQUENCE


SAMPLES=(K17 K18 K23 K24 L22 M21 O23 Q20 S18 S23)
mkdir -p ${WKD_ROOT} ${WKD_ROOT}/1_minimap2 ${WKD_ROOT}/2_tama_collapse ${WKD_ROOT}/3_tama_merge ${WKD_ROOT}/4_sqanti
mkdir -p ${WKD_ROOT}/4_sqanti/tama_collapsed ${WKD_ROOT}/4_sqanti/tama_filtered